@(commits: List[Commit], studentName: String)

@import helper._
@import java.math.BigInteger; var i=1

@displayClass(c: Commit) = {
	@if(!c.evt_class.equals("")) {
		class="@{c.evt_class}"
	}
}


@main(studentName +" activity") {
	
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						@studentName activity
					</h1>
				</div>
				@form(routes.Application.students()) {
					<input class="btn btn-primary" type="submit" value="Back to students list">
				}
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Event_type
							</th>
							<th>
								Exercice
							</th>
							<th>
								Date
							</th>
							<th>
								Comment
							</th>
						</tr>
					</thead>
					<tbody>
					@for(commit <- commits) {
						@if(commit.evt_type != "") {		
							<tr @displayClass(commit)">
								<td>
									@i
								</td>
								<td>
									@commit.evt_type
									<!--@*<img src="@{routes.Assets.at("images/" + commit.evt_type)}" width="5%" height="5%" />*@-->
								</td>
								<td>
									@commit.exoname
								</td>
								<td>
									@commit.commitTime
								</td>
								<td>
									@commit.comment
								</td>
							</tr>
							@{i=i+1}
						}
					}
					</tbody>
				</table>
			</div>
		</div>
	</div>
   
}