@import helper._
@import java.math.BigInteger; var i=1

@main("Create a new teacher") {
	
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						Create a new teacher
					</h1>
				</div>
				@form(routes.Application.courses()) {
					<input class="btn btn-primary" type="submit" value="Back to courses list">
				}
				<br />
				<form role="form" action="handleTeacher" method="get">
					<div class="form-group">
						 <label for="exampleInputEmail1">Name</label>
						 <input class="form-control" id="exampleInputEmail1" type="text" name="name" required/>
					</div>
					<button class="btn btn-default" type="submit">Submit</button>
				</form>

			</div>
		</div>
	</div>
   
}