@(students: List[Student])

@import helper._

@main("Students") {
    
    <h1>@students.size() student(s)</h1>
	
	<image src="@routes.Assets.at("images/correct.png")" width="10%" height="10%" >
	
    <ul>
        @for(student <- students) {
            <li>
                @student.name, @student.mail, @student.uuid 
				
				@form(routes.Application.deleteStudent(student.uuid)) {
                    <input type="submit" value="Delete">
                }
				@form(routes.JGit.displayBranch(student.uuid)) {
                    <input type="submit" value="Show commits">
                }

            </li>
        }
    </ul>
}