@(calls: List[AssistanceCall])

@import helper._
@import java.math.BigInteger; var i=1

@mainRefreshed("Assistance calls", calls.size() + " call(s)", "") {
	<table class="table table-hover" id="callsTable">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Date
				</th>
				<th>
					Student
				</th>
				<th>
					Details
				</th>
				<th>
					Hostname
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			@for(call <- calls) {
				<tr>
					<td>
						@i
					</td>
					<td>
						@call.date
					</td>
					<td>
						@call.student.name
					</td>
					<td>
						@call.details
					</td>
					<td>
						@call.hostname
					</td>
					<td>
						<div class="col-md-5 column">
							@form(routes.JGit.displayBranch(call.student.hashedUuid, call.student.name)) {
								<input class="btn btn-primary" type="submit" value="View student">
							}
						</div>
						
						<div class="col-md-3 column">
							 @form(routes.AssistanceCallController.delete(call.id)) {
								<input class="btn btn-danger" type="submit" value="Delete">
							}
						</div>
					</td>
				</tr>
				@{i=i+1}
			}
		</tbody>
	</table>
	
	<script>
		$(document).ready(function() 
		{ 
			$("#callsTable").tablesorter(); 
		} 
	); 
	</script>
}