@(course: Course, summary: List[ProgressItem])

@import helper._
@import java.math.BigInteger; var i=0

@main(course.displayName + " course", "Students of " + course.displayName + " in " + course.programmingLanguage, course.name) {
	@form(routes.CourseController.courses()) {
		<input class="btn btn-primary" type="submit" value="Back to courses list">
	}
    @form(routes.CourseController.addAllStudentToCourse(course.name)) {
        <input class="btn btn-warning" type="submit" value="Add all students">
    }
	<br />
	<table class="table table-hover tablesorter" id="studentsTable">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Students
				</th>
				<th>
					Progress
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			@for(student <- course.students) {
				<tr>
					<td>
						@{i+1}
					</td>
					<td>
						@student.name
					</td>
					<td>
						@if(summary.size() > i){
							@if(summary.get(i).passed == -1) {
								Not attempted yet
							} else {
                                @if(summary.get(i).passed < 10) { @* to allow a simple sort of the progress column*@
                                    0@summary.get(i).passed on @summary.get(i).total
                                } else {
                                    @summary.get(i).passed on @summary.get(i).total
                                }
                            }
						}
					</td>
					<td>
						<div class="col-md-4 column">
							@form(routes.JGit.displayBranch(student.hashedUuid, student.name)) {
								<input class="btn btn-primary" type="submit" value="Show progress">
							}
						</div>
					</td>
				</tr>
				@{i=i+1}
			}
		</tbody>
	</table>
	
	<script>
		$(document).ready(function() 
		{ 
			$("#studentsTable").tablesorter(); 
		} 
	); 
	</script>
}