@(courses: List[Course])

@import helper._
@import java.math.BigInteger; var i=1

@main("Courses", courses.size() + " course(s)", "") {
    @if(flash.contains("success")) {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Success!</strong> @flash.get("success")
        </div>
    }
	@form(routes.CourseController.createCourseForm()) {
		<input class="btn btn-primary" type="submit" value="Create new course">
	}
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Name
				</th>
				<th>
					Teacher(s)
				</th>
				<th>
					Student count
				</th>
				<th>
					Language
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			@for(course <- courses) {
				<tr>
					<td>
						@i
					</td>
					<td>
						@course.name
					</td>
					<td>
						<ul>
						@for(teacher <- course.teachers) {
							<li>@teacher.name</li>
						}
						<ul>
					</td>
					<td>
						@course.students.size()
					</td>
					<td>
						@course.programmingLanguage
					</td>
					<td>
						<div class="col-md-4 column">
							@form(routes.CourseController.course(course.name)) {
								<input class="btn btn-primary" type="submit" value="Details">
							}
						</div>
						<div class="col-md-4 column">
							 @form(routes.CourseController.deleteCourse(course.name)) {
								<input class="btn btn-danger" type="submit" value="Delete">
							}
						</div>
					</td>
				</tr>
				@{i=i+1}
			}
		</tbody>
	</table>
}