@import helper._

@main("Home") {
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="page-header">
					<h1>
						Home <small>PLM-server</small>
					</h1>
				</div>
				@form(routes.Application.students()) {
					<button class="btn btn-primary btn-lg" type="submit">Students</button>  
				}
				<br />
				<a href="linkUUID" class="btn btn-success btn-lg" type="button">Add user from UUID</a><br /><br />
				<a href="allStudents" class="btn btn-success btn-lg" type="button">All users</a><br/>
				<br />
				@form(routes.Application.courses()) {
					<button class="btn btn-warning btn-lg" type="submit">Courses</button>  
				}
				<br />
				@form(routes.Application.teachers()) {
					<button class="btn btn-danger btn-lg" type="submit">Teachers</button>  
				}
				<br />
				<a href="http://localhost:9000/student?uuid=c66370ad7f9f6c2aacd49e485a4e9b2a034ad6a9" class="btn btn-success btn-lg" type="button">Test</a>
			</div>
		</div>
	</div>
}