@(students: List[Student], lastActivity: List[String])

@import helper._
@import java.math.BigInteger; var i=0

@main("Students", students.size() + " student(s)", "") {
	<table class="table table-hover tablesorter" id="studentsTable" >
		<thead>
			<tr>
				<th>
					Last activity
				</th>
				<th>
					Name
				</th>
				<th>
					Email
				</th>
				<th>
					hashUUID
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			@for(student <- students) {
				<tr>
					<td>
						@lastActivity.get(i)
					</td>
					<td>
						@student.getName()
					</td>
					<td>
						@student.getEmail()
					</td>
					<td>
						@student.hashedUuid
					</td>
					<td>
						<div class="col-md-7 column">
							@form(routes.JGit.displayBranch(student.hashedUuid, student.getName())) {
								<input class="btn btn-primary" type="submit" value="Show progress">
							}
						</div>
						
						<div class="col-md-3 column">
							 @form(routes.StudentController.deleteStudent(student.hashedUuid)) {
								<button type="submit" class="btn btn-danger" title="Delete">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							}
						</div>
					</td>
				</tr>
				@{i=i+1}
			}
		</tbody>
	</table>
	
	<script>
		$(document).ready(function() 
		{ 
			$("#studentsTable").tablesorter({sortList: [[0,1]]}); // sort by first column descending
		} 
	); 
	</script>
}