@(teachers: List[Teacher], courses: List[Course])

@import helper._
@import java.math.BigInteger; var i=1

@main("Teachers", teachers.size() + " teacher(s)", "") {
    @if(flash.contains("success")) {
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>Success!</strong> @flash.get("success")
        </div>
    }
	@form(routes.TeacherController.createTeacherForm()) {
		<input class="btn btn-primary" type="submit" value="Add teacher">
	}
	<br />
	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Name
				</th>
				<th>
					Course(s)
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			@for(teacher <- teachers) {
				<tr>
					<td>
						@i
					</td>
					<td>
						@teacher.name
					</td>
					<td>
						<ul>
						@for(course <- courses) {
                            @if(course.teachers.contains(teacher)) {
							    <li>@course.name</li>
                            }
						}
						<ul>
					</td>
					<td>
						<div class="col-md-4 column">
							 @form(routes.TeacherController.deleteTeacher(teacher.name)) {
								<input class="btn btn-danger" type="submit" value="Delete">
							}
						</div>
					</td>
				</tr>
				@{i=i+1}
			}
		</tbody>
	</table>
}